* {
    margin: 0;
    font-family: "Inter", sans-serif;
}

body {
    background-color: #D9D9D9;
}

.header {
    background-color: #008000;
}

.logo1 {
    width: 35%;
}

.header {
    padding: 0.5rem 2rem 0.5rem 2rem;
    border-radius: 0rem 0rem 1.2rem 1.2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu1 {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.textLogo {
    font-size: 1.5rem;
    color: white;
    
    margin-top: 10px;
}

.linkSite > a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    
}

.linkSite > a:hover {
    text-decoration: underline;
}

.linkSite {
    display: flex;
    gap: 1.8rem;
}

.homeScreen {
    display: flex;
    height: 90vh;
    align-items: center;
    justify-content: space-between;
    margin-inline: 11rem;
}

.bodyScreen {
    background-image: url("./src/bgSprite.png");
}

.galinhaPng {
    width: 88%;
    float: right;
}

.home1 {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.titleHomeScreen {
    font-size: 4.5rem;
    color: white;
    filter: drop-shadow(4px 6px 5px #00000031);
}

.verde {
    color: #008000;
}

.subTitleHomeScreen {
    color: white;
    filter: drop-shadow(4px 6px 5px #00000031);
}

.btnHomeScreen {
    background-color: #008000;
    border: 0;
    padding: 1rem 2rem 1rem 2rem;
    border-radius: 1rem;
    margin-top: 0.6rem;
    margin-left: -0.1rem;
    width: 33%;
    cursor: pointer;
}

.btnHomeScreen:hover {
    background-color: #036303;
    transition: 300ms;
}

.btnText {
    font-size: 1.3rem;
    color: white;
    text-decoration: none;
}